@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<Sandra.Snow.PreCompiler.ViewModels.PostViewModel>
@using System.Collections.Generic
@{
  Layout = "default.cshtml";
}

<div class="post-item boxed post-detail">
    <span class="post-label label-quotes"></span>           
    <div class="post-title">
      <h1><a href="@Model.Url">@Model.Title</a></h1>
    </div>
    <div class="post-meta-top">
        <span class="post-date">@Model.PostDate.ToString("MMMM dd, yyyy")</span> <!-- <span class="post-author">Jonathan Channon</span> -->
        <!-- <span class="link-comments">20 comments</span> -->
        <div class="commentcount" data-disqus-url="http://blog.jonathanchannon.com@(Model.Url)"></div>
    </div>
    <!-- <div class="post-image"><img src="images/temp/slider_1_1.jpg" alt=""></div> -->
    <div class="post-descr entry">
        @Html.Raw(Model.PostContent)
    </div> 
    <div id="tagcloud">
    @foreach (var category in Model.Categories) {
     <a href="/category/@category.Url"><span>@category.Name</span></a>
    }             
    </div>
</div>