@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<Sandra.Snow.PreCompiler.ViewModels.ContentViewModel>
@using System.Collections.Generic
@{
  Layout = "default.cshtml";
}

  @foreach(var postPaged in Model.PostsPaged) {
    <div class="post-item boxed post-detail">
      <span class="post-label label-quotes"></span>           
      <div class="post-title">
        <h1><a href="@postPaged.Url">@postPaged.Title</a></h1>
      </div>
      <div class="post-meta-top">
          <span class="post-date">@postPaged.Date.ToString("MMMM dd, yyyy")</span> <!-- <span class="post-author">Jonathan Channon</span> -->
          <!-- <span class="link-comments"></span> -->
          <div class="commentcount" data-disqus-url="http://blog.jonathanchannon.com@(postPaged.Url)"></div>
      </div>
      <!-- <div class="post-image"><img src="images/temp/slider_1_1.jpg" alt=""></div> -->
      <div class="post-descr entry">
          @Html.Raw(postPaged.ContentExcerpt)
      </div>
      <p><a class="readmore" href="@postPaged.Url">Read more...</a></p>            
    </div>
  }
  <!-- Pagination links -->
  <div class="text-center">

    @if (Model.HasPreviousPage && Model.HasNextPage) {
      if (Model.PreviousPage == 1) {
        <a href="/">Previous Page</a> @:| 
      }
      else {
        <a href="/page@(Model.PreviousPage)">Previous Page</a> @:| 
      }
    }

     @if (Model.HasPreviousPage && !Model.HasNextPage) {
      if (Model.PreviousPage == 1) {
        <a href="/">Previous Page</a>  
      }
      else {
        <a href="/page@(Model.PreviousPage)">Previous Page</a>  
      }
    }

    @if (!Model.HasPreviousPage) {
    
      <!--<a href="/">Previous Page</a>-->
    
    }

    @if (Model.HasNextPage) {
    
      <a href="/page@(Model.NextPage)">Next Page</a>
    
    }

  </div>

